body {
     background-color: lightcyan;
}

.app-container {
     max-width: 1920px;
     margin: 0 auto;
     padding: 20px;
}

.app-header {
     background-color: lightblue;
     color: black;
     font-size: 25px;
     padding: 10px;
     text-align: center;
     align-items: center;
     border-radius: 5px;
     width: 98%;
     height: 100px;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}